



/* shared styles */



.display-flex{

    display: flex;

}
.bg-black{
   background-color: #111111;
}

.text-white {
    color: #FFFFFF;

}

.text-red {
    color:#E6533C;

}

.text-gray {
   color: rgba(255, 255, 255, 0.5);
}









/* navbar styles */


.navbar{
    justify-content: space-evenly;
    /* width:1060px ;
    height: 46px; */
    /* background-color:burlywood; */
    text-align: center;
    
}

.nav-link {
    text-decoration: none;
    border-radius: 10px;
}
.nav-item:hover{
    background-color: #E6533C;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    padding: 15px;
   
    border-radius: 35px;
    
}



                 /* Get body in shape & stay healthy */

.title-1 {
    font-size: 60px;
}
.div-container{
    text-align: center;
    justify-content: center;
    

}

.div-subcontainer{
 
     margin: 200px;
    max-width: 520px; */
    height: 440px;
    width: 520px;
}

.bg-img1{
    width: 350px;
    height: 580px;
    padding-top: 80px;
    padding-right: 200px;
   
}